flask==3.0.0
flask-sqlalchemy==3.1.1
flask-migrate==4.0.5
flask-cors==4.0.0
flask-marshmallow==1.2.0
marshmallow-sqlalchemy==1.0.0
psycopg2-binary==2.9.9
opensearch-py==2.4.2
python-dotenv==1.0.0
werkzeug==3.0.1
sqlalchemy==2.0.23
alembic==1.13.0
python-ulid==2.2.0
marshmallow==3.20.1
